/**
  * Theme Name:         Sage Child Theme
  * Template:           sage
  * Description:        Yard | Digital Agency starter child theme.
  * Version:            1.0.0
  * Author:             Yard | Digital Agency
  * Author URI:         https://yard.nl/
  * Text Domain:        sage
  * License:            MIT License
  * License URI:        https://opensource.org/licenses/MIT
  * Requires PHP:       8.1
  * Requires at least:  5.9
  */
