/* Files to scan */
@source './../../**/*.{blade.php,php,js,jsx}';
@source './../../../app/**/*.php';

/* Theme variables - for overwriting and creating new utility classes */
@theme {
	/* Colors */
	--color-primary: #9f2a2a;
	--color-primary-50: #f8ebe4;
	--color-primary-100: #f2d7cc;
	--color-primary-200: #e5ac9c;
	--color-primary-300: #d87b6c;
	--color-primary-400: #cb463b;
	--color-primary-500: #9f2a2a;
	--color-primary-600: #83232a;
	--color-primary-700: #661b26;
	--color-primary-800: #4a1420;
	--color-primary-900: #2e0c16;
}
