@reference '@sage/styles/base/config.css';
@reference '@sage/styles/base/utilities.css';
@reference '@sage/styles/base/custom-variants.css';

:root {
	--yrs-datasearch-input-border-color: var( --input-border-color );
	--yrs-datasearch-input-border-color-focus: var(
		--input-border-color-focus
	);
	--yrs-datasearch-input-btn-color: var(
		--filters-sidebar-search-icon-color
	);
	--yrs-datasearch-input-btn-bg-color: var(
		--filters-sidebar-search-icon-bg-color
	);
	--yrs-datasearch-input-btn-bg-color-hover: var(
		--filters-sidebar-search-icon-bg-color-hover
	);

	@variant lg {
		--yrs-column-1-bg-color: var( --filters-sidebar-bg-color );
		--yrs-column-1-radius: var( --filters-sidebar-radius );
		--yrs-column-1-padding: var( --filters-sidebar-padding );
		--yrs-column-1-shadow: var( --filters-sidebar-shadow );
	}
}

.yrs-wrapper {
	.yrs-heading {
		@apply mb-8 lg:mb-12;
	}

	.yrs-row {
		@apply gap-4 lg:grid-cols-12 lg:gap-8 xl:gap-10;

		.yrs-column-1 {
			@apply rounded-(--yrs-column-1-radius) bg-(--yrs-column-1-bg-color) p-(--yrs-column-1-padding) shadow-(--yrs-column-1-shadow) lg:col-span-4 xl:col-span-3;
		}

		.yrs-column-2 {
			@apply lg:col-span-8 xl:col-span-9;
		}
	}

	.yrs-datasearch-label,
	.yrs-multidatalist-title {
		@apply mb-2 block text-xl font-bold;
	}

	.yrs-datasearch-container {
		@apply mb-8;
	}

	.yrs-datasearch {
		> div {
			@apply m-0;
		}

		.input-group {
			@apply shadow-none;
		}
	}

	.yrs-datasearch-input {
		@apply h-13 rounded-theme border-x-0 border-t-0 border-b-2 border-(--yrs-datasearch-input-border-color) bg-white py-3 pr-10 text-base shadow-sm;

		&:focus {
			@apply border-(--yrs-datasearch-input-border-color-focus);
		}

		+ div > div {
			@apply min-w-11;

			&:empty {
				@apply hidden;
			}
		}
	}

	.yrs-datasearch-input-btn {
		@apply h-full rounded-r-(--input-radius) bg-(--yrs-datasearch-input-btn-bg-color) text-(--yrs-datasearch-input-btn-color);

		&::before {
			@apply fontawesome flex h-full w-12 items-center justify-center bg-transparent;
			--fa-icon: '\f002';
		}

		@variant hocus {
			&::before {
				@apply bg-(--yrs-datasearch-input-btn-bg-color-hover);
			}
		}

		.yrs-datasearch-input-btn-text {
			@apply sr-only;
		}
	}

	.yrs-button-filters {
		@apply is-button w-full lg:hidden;

		&::before {
			@apply fontawesome mr-2;
			--fa-icon: '\f1de';
		}
	}

	.yrs-filters-inner {
		@apply mt-3;
	}

	.yrs-multidatalist-label {
		@apply mt-0 mb-2 text-base!;

		&::before {
			@apply mr-3;
		}

		> span {
			@apply flex items-center;
		}

		.yrs-multidatalist-count {
			@apply text-sm;
		}
	}

	.yrs-results {
		@apply @container;
	}

	.yrs-results-info {
		@apply mb-4 justify-end text-sm text-primary;
	}

	.yrs-results-list {
		@apply grid gap-4 @xl:gap-6;
	}

	.yrs-card {
		@apply relative rounded-(--card-radius) bg-(--card-bg-color) shadow-(--card-shadow) transition-all;

		&:focus-within,
		&:hover {
			.yrs-card-body {
				@apply border-primary;
			}
		}

		.yrs-card-body {
			@apply flex flex-col border-b-4 border-transparent p-(--card-padding) transition-all xl:p-8;
		}

		.yrs-card-title-link {
			@apply a-linkable-area text-inherit! no-underline! focus:underline!;
		}

		.yrs-card-excerpt {
			@apply mb-2 leading-snug sm:leading-relaxed;
		}

		.yrs-card-label {
			@apply pointer-events-none mt-3 w-fit rounded-(--card-label-radius) border-(length:--card-label-border-width) border-(--card-label-border-color) bg-(--card-label-bg-color) p-(--card-label-padding) text-sm font-(--card-label-font-weight) text-(--card-label-color);
		}

		.yrs-card-score {
			@apply absolute right-6 bottom-6 hidden text-xs text-gray-700;

			&:is( .logged-in .yrs-card-score ) {
				@apply block;
			}
		}
	}

	.yrs-pagination {
		@apply mb-8;
	}

	.yrs-pagination-list {
		@apply m-(--pagination-item-margin) justify-end gap-x-(--pagination-item-gap-x) gap-y-(--pagination-item-gap-y);
	}

	.yrs-pagination-button {
		@apply relative size-(--pagination-item-size) min-h-auto min-w-auto rounded-(--pagination-item-radius) p-2 text-black no-underline transition-all;

		&:not( .is-active ) {
			@variant hocus {
				@apply bg-(--pagination-item-bg-color-hover) text-(--pagination-item-color-hover);
			}
		}

		&.is-active {
			@apply bg-(--pagination-current-bg-color) text-(--pagination-current-color);

			&::after {
				@apply absolute bottom-0 left-1/2 h-0.5 w-3/4 -translate-x-1/2 bg-(--pagination-current-underline-bg-color) content;
			}
		}
	}

	.yrs-pagination-button-prev {
		@apply mr-4 size-(--pagination-item-size) border border-(--pagination-prev-border-color) bg-(--pagination-prev-bg-color) text-[0px] text-(--pagination-prev-color);

		&::before {
			@apply fontawesome text-base text-inherit;
			--fa-icon: '\f053';
		}

		@variant hocus {
			@apply border-(--pagination-prev-border-color-hocus) bg-(--pagination-prev-bg-color-hocus) text-(--pagination-prev-color-hocus);
		}
	}

	.yrs-pagination-button-next {
		@apply ml-4 size-(--pagination-item-size) border border-(--pagination-next-border-color) bg-(--pagination-next-bg-color) text-[0px] text-(--pagination-next-color);

		&::before {
			@apply fontawesome text-base text-inherit;
			--fa-icon: '\f054';
		}

		@variant hocus {
			@apply border-(--pagination-next-border-color-hocus) bg-(--pagination-next-bg-color-hocus) text-(--pagination-next-color-hocus);
		}
	}

	.yrs-pagination-info {
		@apply mt-4 text-right text-sm;
	}
}
